/**/newsarticles/**
/**/Assignment Two/**
/**/_MACOSX/**
/**/topics
target/**
./target
/**/index
.classpath
.project
.settings/
dependency-reduced-pom.xml
.idea/
LuceneIntro.iml
trec_eval/
rankings.txt